<a href="https://colab.research.google.com/github/kgsahil/pandas-for-datascience/blob/master/pandas_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Part 1: introduction**

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("survey_results_public.csv",error_bad_lines=False)

In [0]:
df.shape

(48219, 85)

In [0]:
#get the first five rows of the complete data
#df.head()

In [0]:
#get the general information of the data
#df.info()

In [0]:
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

In [0]:
schema_df = pd.read_csv("survey_results_schema.csv")

In [0]:
schema_df

**Part 2: DataFrames**

In [0]:
people ={
    "name":["sahil","ajit","shreya"],
    "last":["gupta","yadav","soni"],
    "email":["sg@email.com","ay@email.com","ss@email.com"]
}

In [25]:
people['email']

['sg@email.com', 'ay@email.com', 'ss@email.com']

In [26]:
type(people['email'])

list

Dataframe can be understood by reading a python dictionay, to convert to dataframe we can use pd.DataFrame() method

In [20]:
people_df= pd.DataFrame(people)
people_df

     name   last         email
0   sahil  gupta  sg@email.com
1    ajit  yadav  ay@email.com
2  shreya   soni  ss@email.com

In [27]:
people_df['email'] # people.email will give same output

0    sg@email.com
1    ay@email.com
2    ss@email.com
Name: email, dtype: object

In [28]:
type(people_df['email'])

pandas.core.series.Series

In [29]:
people_df[['name','email']]

     name         email
0   sahil  sg@email.com
1    ajit  ay@email.com
2  shreya  ss@email.com

In [30]:
type(people_df[['name','email']])

pandas.core.frame.DataFrame

In [31]:
people_df.columns

Index(['name', 'last', 'email'], dtype='object')

In [33]:
#to get rows
people_df.iloc[[0,2]]

     name   last         email
0   sahil  gupta  sg@email.com
2  shreya   soni  ss@email.com

In [34]:
#get rows for some specific columns
people_df.iloc[[0,2],[2]]

          email
0  sg@email.com
2  ss@email.com

In [38]:
people_df.loc[[0,1],['last','name']] #can get dataframes by changing the columns order

    last   name
0  gupta  sahil
1  yadav   ajit

Working on stackoverflow data

In [39]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
48214    Yes
48215    Yes
48216    Yes
48217    Yes
48218    Yes
Name: Hobbyist, Length: 48219, dtype: object

In [40]:
#how many of answered yes and no
df['Hobbyist'].value_counts()

Yes    38709
No      9510
Name: Hobbyist, dtype: int64

In [43]:
#get specific row and columns 
df.loc[[0,3,5,56],'Hobbyist']

0     Yes
3      No
5     Yes
56    Yes
Name: Hobbyist, dtype: object

In [44]:
df.loc[0:10,'Hobbyist'] #list slicing on rows

0     Yes
1      No
2     Yes
3      No
4     Yes
5     Yes
6      No
7     Yes
8     Yes
9     Yes
10    Yes
Name: Hobbyist, dtype: object

In [45]:
df.loc[0:10,'Hobbyist':'Employment'] #list slicing on rows as well as on columns ; boundaries are inclusive

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
3,No,Never,The quality of OSS and closed source software ...,Employed full-time
4,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time
5,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
6,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em..."
7,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work"
8,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time
9,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time
10,Yes,Once a month or more often,The quality of OSS and closed source software ...,NaN